<h1>section works coded in VS but updated in shopify! </h1>
{% schema %}
    {
        "name": "Liquid Refernce",
        "settings":[
            {
                "id":"liquid-ref",
                "type":"text",
                "label":"A reference forshopify liquid"

            }
        ],
        "presets":[
            {
                "name":"Liquid Refernce",
                "category":"Refernce"
            }
        ]
    }
{% endschema %}